<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <title>NotWorth</title>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <img class="icon" src="http://localhost:3000/static/icon.png">
        <li><strong>  NotWorth</strong></li>
      </ul>
      <ul>
      </ul>
      <ul>
        <li><a routerLink="/view">View networth</a></li>
        <li><a routerLink="/edit">Add data</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <router-outlet></router-outlet>
    <article>
      (C) Tobias Heller 2022
    </article>
  </main>
</body>