<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <title>NotWorth</title>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <img class="icon" src="http://localhost:3000/static/icon.png">
        <li><strong> NotWorth</strong></li>
      </ul>
      <ul>
      </ul>
      <ul>
        <li><a routerLink="/view">View</a></li>
        <li><a routerLink="/edit">Add</a></li>
        <li *ngIf="auth.isAuthenticated$ | async;"><a routerLink="/user">User</a></li>
        <li>
          <app-auth-button></app-auth-button>
        </li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <router-outlet *ngIf="auth.isAuthenticated$ | async; else loggedOut" ></router-outlet>
    <ng-template #loggedOut>
        <app-welcome></app-welcome>
    </ng-template>
    <article>
      (C) Tobias Heller 2022
    </article>
  </main>
  
</body>