<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <title>NotWorth</title>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li><strong>NotWorth</strong></li>
      </ul>
      <ul>
        <li><a routerLink="/view">View</a></li>
        <li><a routerLink="/edit">Edit</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <router-outlet></router-outlet>
    <article>
      (C) Tobias Heller 2022
    </article>
  </main>
</body>