<h3>Portfolio Overview</h3>
<div *ngIf="portfolio">
    <article class="overview"><strong>{{portfolio.name}}</strong>
        <app-total-current-value [currentTotalValue]="portfolio.currentTotalValue"></app-total-current-value>
    </article>
    <article *ngIf="portfolio?.historicTotalValue?.length != 1">
        <app-value-line-graph  [chartData]="chartData" [colors]="colors"></app-value-line-graph>
    </article>
    <article>
        <app-positions-overview [positions]="portfolio.positions"></app-positions-overview>
    </article>
</div>