<h1>Portfolio Overview</h1>
<div *ngIf="portfolio">
    <article>
        <div class="overview">
            <strong>{{portfolio.name}}</strong>
            <app-total-current-value [currentTotalValue]="portfolio.currentTotalValue"></app-total-current-value>
        </div>
        <i>
            {{portfolio?.description}}
        </i>
    </article>
    <article *ngIf="portfolio?.historicTotalValue?.length != 1">
        <app-value-line-graph [chartData]="lineData" [colors]="colors" [title]="historicalValueTitle"></app-value-line-graph>
    </article>
    <article *ngIf="portfolio?.positions?.length != 0">
        <app-positions-overview [positions]="portfolio.positions"></app-positions-overview>
    </article>
    <article *ngIf="portfolio?.historicTotalValue?.length != 1">
        <app-value-distribution-pie [chartData]="pieData" [colors]="colors" [title]="distributionValueTitle"></app-value-distribution-pie>
    </article>
</div>