<form #myForm="ngForm" (ngSubmit)="myForm.valid && createValue()">
    <div class="grid">
        <label for="date">
            Date
            <input class="form-control" [(ngModel)]="value.date" type="date" id="date" name="date" placeholder="" [ngClass]="{'is-invalid': (positionDate.touched || positionDate.dirty) && !positionDate.valid }"
                #positionDate="ngModel" appDatevalidator max="{{currentDate}}" step="1" required>
            <small>The date at which this value is recorded.</small>
        </label>
        <label for="value">
            Value ({{this.currency}})
            <input [(ngModel)]="value.value" type="number" id="value" name="value" placeholder="CHF" min=0
                #positionValue="ngModel" required>
            <small>The value of this position at this date.</small>
        </label>
    </div>
    {{positionDate.errors?.['max']}}
    {{positionDate.errors?.['max']}}
    <div *ngIf="myForm.submitted && positionDate.invalid">
        <div *ngIf="positionDate.errors?.['required']"><mark>Date is required.</mark></div>
        <div *ngIf="positionDate.errors?.['max']"><mark>Date can not be in the future.</mark></div>
        <div *ngIf="positionDate.hasError('datevalidator')"><mark>Date can not be in the future.</mark></div>
    </div>
    <div *ngIf="myForm.submitted && positionValue.invalid">
        <div *ngIf="positionValue.errors?.['required']"><mark>Value is required.</mark></div>
        <div *ngIf="positionValue.errors?.['min']"><mark>Value can not be negative.</mark></div>
    </div>
    <button type="submit">Create</button>
</form>