<h1>Portfolios</h1>
<article>
    <table role="grid">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Current Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let portfolio of portfolios" [routerLink]="['portfolios', portfolio.id]">
                <td><a>{{portfolio.name}}</a></td>
                <td>{{portfolio.currentTotalValue.value | currency: currency}}</td>
            </tr>
        </tbody>
    </table>
</article>